@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lora&display=swap');

.Footer{
    display: inline-block;
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    height: 23rem;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    font-family: 'Lora', serif;
    font-size: small;
}
.Footer p{
    text-align: center;
    margin-top: 1.8rem;
}
.icon-container{
    text-align: center;
    margin-top: 4rem;
}
.icon{
    width: 42px;
    margin: 0 2rem 0 2rem;
    transition: transform 0.7s ease-in-out;
}
.btn-container{
    margin-top: 1.8rem;
    text-align: center;
}
.footer-btn{
    text-align: center;
    color: aliceblue;
    background: none;
    border: none;
    margin: 0 1rem 0 1rem;
    font-size: 1.1rem;
    font-family: 'Lora', serif;
    transition: color 0.7s ease-in-out;
}
.footer-btn:hover{
    cursor: pointer;
    color: rgb(200, 15, 30);
}
.icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width: 720px) {
    .Footer{
        height: 39rem;
    }
    .btn-container{
        display: flex;
        flex-direction: column;
    }
    .footer-btn{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1080px) and (min-width: 720px) {
    .Footer{
        height: 39rem;
    }
    .btn-container{
        display: flex;
        flex-direction: column;
    }
    .footer-btn{
        margin-top: 1rem;
    }
}